{% include head-dark.html %}

    <div id='bump'>
        <section class="article archive">
          <article class="archive-wrap">
            <p class="intro">I'm an MS student at UNC-Chapel Hill studying Statistics and Operations Research with a concentration in Machine Learning. 
            This past summer I was a Data Science Intern at FinTech startup, <a href="https://engineering.spreedly.com/blog/machine-learning-in-practice.html">Spreedly</a>, and will be graduating in May 2018.
            Read more <a href="{{ site.url }}/about">about me</a>, check out some of my <a href="{{ site.url }}/projects">projects</a>, or view <a href="{{site.url}}/files/Bostwick-Resume.pdf">my Resume</a>.</p>
            <!-- <img id="jathumb" src="images/jathumb.jpg"/> -->
            <!-- <figure><img src="/images/jathumb.jpg" /></figure> -->
            <figure><center><img src="/images/Bostwick_face.png" /></center></figure>
<!--             <br>
            <br>
              <ol class="post-list">
                  <lh style="text-align: center"><h2><span class="bb"><a href="/">{{ page.title }}</a></span></h2></lh>
                  {% for post in site.posts limit:5 %}
                  <li>
                     <a href="{{ site.url }}{{ post.url }}">
                     <div class="featured-image-small" style="background-image: url({{ site.url }}/images/{{ post.image.thumb }})">
                     </div>
                     </a>
                     <div class="deets left-slide" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                     <h1><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h1>
                     {% if post.modified %}<p class="date"><span class="date"><time datetime="{{ page.modified }}" itemprop="dateModified">Updated on {{ post.modified | date: "%B %d, %Y" }}</time></span>{% else %}<p class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time>{% endif %}</p>
                     <p class="summary">{% if post.description %}{{ post.description  | strip_html | strip_newlines | truncate: 120 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
                     </div>
                  </li>
                  {% endfor %}
              </ol> -->
          </article>
        </section>
    </div>
{% include footerhome.html %}